*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        width: 300px;
        padding: 15px;
        text-align: center;
        font-family: sans-serif;        
        background-color: #f9f8f8;
    }
    #timer {
        font-size: 2.2em;
        font-family: clockicons,sans-serif; 
        letter-spacing: 1px;
        color: #555555;
        background-color: #ecf0f1;
        border-radius: 5px;
        padding: 12px 10px;
        margin-bottom: 20px;
        box-shadow: inset 0 2px 4px rgba(0,0,0,0.06);
    }
    .digit, .colon, .ms-digits {
        display: inline-block;
    }
    .digit {
        text-align: center;
        min-width: 0.6em;
    }
    @keyframes briefPulse {
        0% { 
            transform: scale(1); 
            /* color: #2c3e50;  Можна залишити базовий або трохи змінити */
        }
        50% { 
            transform: scale(1.15); /* Трохи більше збільшення */
            color: #ca2a2a;     /* Яскравий колір для акценту */
        }
        100% { 
            transform: scale(1); 
            /* color: #2c3e50; */
        }
    }

    .digit.pulse-animate {
        /* https://www.geeksforgeeks.org/css/css-pulse-animation/ */
        /* animation-name, animation-duration, animation-timing-function, animation-iteration-count */
        animation: briefPulse 0.25s ease-out 1; /* 0.25s - тривалість одного "пульсу", 1 раз */
    }
    #controls button {
        width: 80px;
        margin: 5px;
        padding: 10px 0;
        font-size: 0.9em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease, opacity 0.2s ease, color 0.2s ease;
        color: rgb(255, 255, 255);
    }
    #controls button:disabled {
        background-color: #bdc3c7 !important; 
        cursor: not-allowed;
        opacity: 0.8;
    }
    #btn_start:hover:not(:disabled), 
    #btn_reset:hover:not(:disabled) {
        filter: brightness(90%);
    }